## Creating DataSet

In [377]:
#Importing all the libraries that may be required
import numpy as np
import pandas as pd
import random
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import make_scorer, confusion_matrix
from sklearn.model_selection import learning_curve
import matplotlib.pyplot as plt
import seaborn as sns
Salaries = pd.read_csv("multipleChoiceResponses.csv", low_memory = False)

### 1. Drop rows missing target variable

In [378]:
Salaries['Q9'].isna().sum()

3674

In [379]:
Salaries.dropna(subset=['Q9'],inplace=True)

In [380]:
Salaries.Q9.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '10-20,000', '0-10,000',
       'I do not wish to disclose my approximate yearly compensation',
       '20-30,000', '125-150,000', '30-40,000', '50-60,000',
       '100-125,000', '90-100,000', '70-80,000', '80-90,000', '60-70,000',
       '400-500,000', '40-50,000', '150-200,000', '500,000+',
       '300-400,000', '200-250,000', '250-300,000'], dtype=object)

### 2. Remove rows where salary is not disclosed

In [381]:
Salaries = Salaries[Salaries['Q9']!= "I do not wish to disclose my approximate yearly compensation"]
Salaries=Salaries.reset_index()
Salaries=Salaries.drop(['index'],axis=1)

In [382]:
Salaries=Salaries.drop([0],axis=0)
Salaries.head()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
1,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
4,959,Male,-1,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,1,Academics/Education,...,-1,Too expensive,NaN,NaN,NaN,NaN,I had never considered making my work easier f...,NaN,NaN,-1
5,1758,Male,-1,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,2,Other,...,-1,NaN,NaN,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

###### Values in columns with OTHER_TEXT and Q12 seems to be encoded and cannot be used for our study unless we know the coded information

In [383]:
#Droping the columns with "_OTHER_TEXT"

Salaries.drop(Salaries[[col for col in Salaries.columns if '_TEXT' in col]],axis=1,inplace=True)
Salaries.columns

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7', 'Q8', 'Q9',
       ...
       'Q49_Part_11', 'Q49_Part_12', 'Q50_Part_1', 'Q50_Part_2', 'Q50_Part_3',
       'Q50_Part_4', 'Q50_Part_5', 'Q50_Part_6', 'Q50_Part_7', 'Q50_Part_8'],
      dtype='object', length=361)

In [384]:
plt.figure(figsize=(15,5))
a=sns.barplot(x='Q9',y='index', data=Salaries.iloc[1:])
a.set_xticklabels(a.get_xticklabels(),rotation=90)
plt.show()

ValueError: Could not interpret input 'index'

In [ ]:
Salaries[1:].groupby('Q18')['index'].count()

In [ ]:
Salaries['Q18'].fillna(0, inplace=True)

In [ ]:
plt.figure(figsize=(15,5))
a=sns.barplot(x='Q18',y='Q9', data=Salaries.iloc[1:])
a.set_xticklabels(a.get_xticklabels(),rotation=90)
plt.show()